# Build / dependencias
**/target/
**/node_modules/
**/dist/
**/dist-app/
**/coverage/
*.jar
!**/mvnw
!**/.mvn/wrapper/maven-wrapper.jar

# Entorno y secretos
.env
.env.*
!.env.example

# IDE y OS
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db

# Logs y caché
*.log
npm-debug.log*
.npm/

# Postman / local (opcional — la colección SÍ se sube en postman/)

# Local Netlify folder
.netlify
